body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.TEMPconverter {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    margin: 10px 0;
}

.input-field {
    width: 100px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #00b362;
}

select {
    padding: 5px;
    font-size: 14px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: #00b362;
    margin-top: 10px;
    margin-bottom: 10px;
}
